.c-nav-links{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.nav-item{
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 1.3rem;
}

.nav-item:hover{
  border-bottom: 2px solid #ff6900;
}


.my-icons {
  margin: 0.5rem;
  margin-right: 2rem;
  font-size: 1.5rem;
}


.nav-bar{
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
}
