.c-homepage-button {
  margin-top: 1.5rem;
}
.c-home-title {
  font-weight: 600 !important;
}
.c-home-content {
  position: absolute;
  top: 25%;
  color: #fff;
  left: 8%;
}

.c-home-trending img {
  margin-bottom: 10px;
  width: 100%;
}

.c-home-trending {
  position: relative;
}
