.footer-container {
  background: #000;
}

.site-footer {
  color: #fff;
  width: 100%;
  padding: 1.3rem;
  margin: 0 !important;
}

.footer-col {
  padding: 1rem;
}

.footer-col h6 {
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 1rem 0;
}

.footer-link {
  color: #787878;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hr-rule {
  color: #fff;
  margin: 0;
}

.copyright-section p {
  margin-top: 1rem;
  color: #fff;
}
.copyright-section {
  padding: 0 1.6rem;
  padding-bottom: 1rem;
}

.foot-social-icon {
  color: #d0d0d0;
  background-color: #000;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.foot-social-icon:hover {
  color: #fff;
}

.footer-email-field {
  position: relative;
  display: inline-block;
  margin-top: 1rem ;
}

.footer-email-input:focus {
  all: unset;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid #c1c0c0;
  color: #fff;
  box-shadow: 1px 1px 2px 0.2rem #ff6a00a8, -1px -1px 2px 0.2rem #ff6a00a8;
  width: 18rem;
}

.footer-email-input {
  all: unset;
  background-color: #000;
  color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  padding: 0.4rem;
  width: 18rem;
}

.footer-btn {
  position: absolute;
  right: 2px;
  top:2px;
  z-index: 3;
  border: none !important;
}

